:root {
  --white: #ffffff;
  --lightblue:  rgb(9, 196, 196);
  
  --dark-grey: #30343f;
}

*{
  margin: 0;
  padding: 0;
  cursor: pointer;
}
 h1{
  font-family: 'Roboto', sans-serif;
 }


h3{
  font-size: 2rem;
  color: rgb(53, 8, 93);
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-top: 5rem;
}
p{
font-size: 1rem;
color: rgb(53, 8, 93);
text-align: center; 
font-family: 'Roboto', sans-serif;
font-weight: 600;
margin-top: 5rem;

}

.visite-kaart{
  position:sticky;
  font-size: 1rem;
color: rgb(53, 8, 93);
text-align: center; 
font-family: 'Roboto', sans-serif;
font-weight: 300;
margin-top: 5rem;
margin-left: 5rem;

}


.squad {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap-reverse;
}
body {
  background-color: var(--white);
 
}

nav{
  display: flex;
  justify-content: flex-end;
  background-color:var(--lightblue);
  color: rgb(0, 0, 0);
  height: 8rem;
}

.icon-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.header-icon{
  width: 4em;
  height: 100%;
}

.squad > a{
  color: white;
  font-size: 1.25em;
}

h2 {
  /* font-sifonze: clamp(3rem, 1rem + 10vw, 5rem); */
  font-size: 3rem;
  color: rgb(53, 8, 93);
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 5rem;
}

.member__sur--name {
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgb(53, 8, 93);
  text-decoration: none;

}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 150px;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:rgb(53, 8, 93); 
  text-decoration: none;
}

section img {
  width: 140px;

}

.img-squad-c {
  width: 100%;
  height: auto;

}

.img-avatar {
  border-radius: 60%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border: 4px solid var(--lightblue);
  
}

@media (min-width: 40rem) {
  .img-avatar {
    width: 100%;
    height: auto;
  }
  section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
@media (min-width: 50rem) {
  .img-avatar {
    width: 100%;
    height: auto;
  }
  section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}

@media (min-width: 75rem) {
  .img-avatar {
    height: auto;
    width: 100%;
  }

  section {
  
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 2rem;
  }
}

a {
  text-decoration: none;
}
  
.img-avatar-member-page{

  aspect-ratio:1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000;
  height: 1000;
  border-radius: 60%;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid var(--lightblue);
  padding: 10px;
  margin-top: 2rem;

  
}







/*section > a {
    flex: 1 1 20em;
    display: flex;
    justify-content: center;
}

section > a > img {
    height: 20em;
    width: 20em;
}


section {
  display: flex;
  flex-direction: row;
  gap: 2em;
  grid-column-gap: 1rem;
  grid-row-gap: 150px;
  padding: 2rem;
  flex-wrAP: wrap;

*/
